@model LoginVM
<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="single-form">
        <input asp-for="Email" placeholder="Email *">
    </div>
    <div class="single-form">
        <input asp-for="Password" placeholder="Password">
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" asp-for="RememberMe">
        <label class="form-check-label" asp-for="RememberMe">
        </label>
    </div>
    <div class="single-form">
        <button class="main-btn main-btn-2">Login</button>
    </div>
</form>

@section Script{
    <partial name="_ValidationFormScriptPartial">
}
